@inherits LayoutComponentBase
@inject IBootstrapCss BootStrapCss
    <div class="page">
        <NavMenu></NavMenu>
        <div class="container">
            @Body
        </div>
    </div>
    @code{
        protected override async void OnAfterRender(bool firstRender)
        {
            if (firstRender)
            {
                await BootStrapCss.SetBootstrapCss("4.3.1");
            }
            base.OnAfterRender(firstRender);
        }
    }
