<BSNavbar IsExpand="true" IsDark="true" Color="Color.Dark" IsFixedTop="true">
    <BSNavbarBrand Href="">Hill Facts</BSNavbarBrand>
    <BSNavbarToggler @onclick="onclick">
        @*<button class="navbar-toggler" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>*@
    </BSNavbarToggler>
    <BSCollapse isOpen="@IsOpen" IsNavbar="true">
        <BSNav IsList="true" Class="mr-auto" IsNavbar="true">
            <BSNavItem>
                <BSNavLink Href="SenateMembers">Senate</BSNavLink>
            </BSNavItem>
            <BSNavItem>
                <BSNavLink Href="HouseMembers">House</BSNavLink>
            </BSNavItem>
            <BSNavItem>
                <BSNavLink Href="RecentBills">Bills</BSNavLink>
            </BSNavItem>
        </BSNav>
    </BSCollapse>
</BSNavbar>
@*Ghetto adjustment so nav menu does not open over content.*@
<div style="min-height:120px;display:@(IsOpen? "inline-block":"none")"></div>
@code {
    bool IsOpen { get; set; } = false;
    void onclick(MouseEventArgs e)
    {
        IsOpen = !IsOpen;
    }
}

