@page "/GeorgiaRace"

    <h3 class="mb-2">Georgia Runoff Election Factsheet</h3>
    <CampaignComparison Candidates="@Candidates" />

@code
{ 
    Dictionary<string, string> Candidates { get; set; }

    protected override void OnInitialized()
    {
        var candidates = new Dictionary<string, string>();
        candidates.Add("S4GA11285", "David Perdue");
        candidates.Add("S8GA00180", "Jon Ossoff");
        candidates.Add("S0GA00526", "Kelly Loeffler");
        candidates.Add("S0GA00559", "Warnock");
        Candidates = candidates;
        base.OnInitialized();
    }

}
