@page "/"

<h1>Congress</h1>
<p>House and Senate and Bills and Committees</p>
<p>
    Information from <a target="_blank" href="https://www.propublica.org/datastore/api/propublica-congress-api">Propublica Congress API</a>.
    Proof of concept so far. Lot more work to do. -- <a href="mailto:jose.k.paul@gmail.com">jose.k.paul@gmail.com</a>
    <button type="button" class="btn btn-info" @onclick="ShowToastrInfo">Show Toastr Info</button>
</p>
<p>Project can be found <a href="https://github.com/josekpaul/HillFacts" target="_blank">Here</a></p>
@code{
    [Inject]
    public HfTimeline.Services.ToastrService ToastrService { get; set; }

    private async Task ShowToastrInfo()
    {
        await ToastrService.ShowInfoMessage();
    }
}
