@using D3Visualizations.Services
@using System.Data

<div @ref="StackedColumnChartElement"></div>

@code {
    [Inject]
    public D3VisualizationsService Viz { get; set; }

    DataTable data;
    [Parameter]
    public DataTable Data
    {
        get
        {
            return data;
        }
        set { data = value; }
    }
    ElementReference StackedColumnChartElement;

    protected async override void OnAfterRender(bool firstRender)
    {
        await Viz.DrawStackedColumnChart(Data, StackedColumnChartElement);
    }
}
