@using D3Visualizations.Services
@using System.Data
@using Microsoft.JSInterop

<div @ref="StackedColumnChartElement"></div>

@code {
    [Inject]
    public D3VisualizationsService Viz { get; set; }

    [Parameter]
    public DataTable Data { get; set; }

    [Parameter]
    public EventCallback<string> OnClick { get; set; }

    ElementReference StackedColumnChartElement;

    protected async override void OnAfterRender(bool firstRender)
    {
        await Viz.DrawStackedColumnChart(Data, StackedColumnChartElement, DotNetObjectReference.Create(this), "ChartClicked");
    }

    [JSInvokable]
    public async void ChartClicked(string response)
    {
        await OnClick.InvokeAsync(response);
    }
}